#notice {
  color: green;
}

.error {
  text-align: center;
  background-color:#709B9A;
  padding: 5px;
  border-radius: 2px;
  box-shadow:rgba(0, 0, 0, 0.199219) 0 1px 2px 0 inset;
  height: 25px;
}

.error .message {
  float: left;
  padding: 2px;
}
.error .closeError {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  float: right;
  cursor: pointer;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
