.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}

.clearfix {
 display: block;
}

body {
	line-height: 1.45em;
	margin: 0 auto;
	background-color:#E6FFF1;
	font: normal normal normal 1em/1.4 Cambria, Georgia, sans-serif;
}

a:link, li a:visited {
  color: #000;
  text-decoration: none;
}

body#home {
  width:500px;
}

input {
  -webkit-box-shadow:rgba(0, 0, 0, 0.199219) 0 1px 2px 0 inset;
  border: 1px solid #999999;
  border-radius: 2px;
  box-shadow:rgba(0, 0, 0, 0.199219) 0 1px 2px 0 inset;
  font-family:inherit;
  font-size:24px;
  line-height:1.4em;
  outline-color:initial;
  outline-style:none;
  outline-width:initial;
  padding: 6px;
  width: 448px;
}

#songs_app {
	position: relative;
}

.expand img.loading {
  padding: 0 4px 5px 5px;
}

h1#logo {  
	text-align: center;
}

#wrap {
  padding: 0 20px 20px 20px;
}

ol#song_list, ol#song_list ol {
	padding: 0;
}
ol#song_list {
  list-style: none;
}
ol#song_list ol {
  margin-left: 30px;
  list-style: decimal-leading-zero;
}

ol#song_list ol li {
  text-align: left !important;
  background-color:#C0C0C8;
}

ol#song_list li.track {
	padding: 15px;
	-webkit-box-shadow:white 0 1px 0px, rgba(0, 0, 0, 0.496094) 0 1px 3px 0 inset;
	background-attachment:initial;
	background-clip:initial;
	background-color:rgba(0, 0, 0, 0.0351562);
	ackground-image:initial;
	background-origin:initial;
	background-position:initial initial;
	background-repeat:initial initial;
	box-shadow:white 0 1px 0px, rgba(0, 0, 0, 0.496094) 0 1px 3px 0 inset;
	margin-bottom: 5px;
	border-radius: 3px;
}

ol#song_list ol li {
	margin-top: 10px;
}

.listTrackContent ol li div.track a {
  font-weight: bold;
  color: #4B0F57;
}
.listTrackContent ol li div.artist a {
  color: #6A1362;
}
.listTrackContent ol li div.albumReleased a {
  color: #A92F74;
}

li .content {
}

li .expand, li .delete {
  cursor: pointer;
}

li .expand:hover {
  color: #fcfcfc;
}

li div.icons {
  padding: 0;
  height:25px;
  display: inline;
  list-style: none;
}

li div.icons {
  float: right;
}
.genre {
  background-attachment:initial;
  background-clip:initial;
  background-color:#559676;
  background-image:initial;
  background-origin:initial;
  border-bottom-left-radius:10px 10px;
  border-bottom-right-radius:10px 10px;
  border-top-left-radius:10px 10px;
  border-top-right-radius:10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 0 0 1px 0 white;
  font-size:11px;
  font-family: 'Century Gothic', 'century gothic', arial, verdana, 'lucida grande', 'lucida sans', 'bitstream vera sans';
  padding: 5px;
  float: right;
  color: white;
  text-shadow: 0 !important;
}
.trackName {
  color: #05372D !important;
  float: left;
  padding-top: 3px;
}

.dragicon {
  padding: 0 5px 0 0;
  display:none;
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  background: url("/images/spotify-32.png") no-repeat !important;
}
