<!DOCTYPE html>
<html>
<head>
  <title>Spottyhunch</title>
  <%= stylesheet_link_tag :all %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tag %>
</head>
<body id="home">
	<div id="wrap">
		<%= yield %>
	</div>
</body>

<script type="text/javascript">
  $(function(){
    $(".error .closeError").live("click", function(){
      $(this).parent().slideToggle(250);
      $("form#new_song input").value = "";  
    });
  });
</script>
</html>
